/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2b7fff;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2b7fff;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__title.text--truncate {
  display: flex;
  align-items: center;
  justify-content: center;

}
.navbar__title.text--truncate:after {
  content: "Help Center";
  font-weight: 500;
  font-size: 12px;
  border-left: 1px solid #000;
  padding: 0px 6px;
  margin: 13px 6px 12px;
}
[data-theme="dark"] .navbar__title.text--truncate:after {
  border-color: #fff;
}

.navbar__item.navbar__link.button {
  background: HSL(221, 97%, 54%);
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar__item.navbar__link.button:hover {
  background: HSL(221, 97%, 64%)
  
}
.navbar__item.navbar__link.button:active {
  background: HSL(221, 97%, 44%)
  
}
.no-external-icon >svg {
  display: none!important;
}

.mr-4 {
  margin-right: 4px!important;
}

/* Hide homepage-only items on non-homepage pages */
body.is-not-homepage .homepage-only {
  display: none !important;
}

/* Reorder navbar items: theme toggle after search */
.navbar__items--right {
  display: flex;
  align-items: center;
}

/* Search bar gets order 1 */
.navbar__items--right > div[class*="searchBar"],
.navbar__items--right > div:has(input) {
  order: 1;
}

/* Color mode toggle gets order 2 (right after search) */
.navbar__items--right > .colorModeToggle_node_modules,
.navbar__items--right > div[class*="colorModeToggle"],
.navbar__items--right > div[class*="toggle"] {
  order: 2;
  margin-left: 0.5rem;
}

/* Other navbar items get order 3+ */
.navbar__items--right > .navbar__item {
  order: 3;
}

/* Reduce spacing between hr and headings in blog/changelog posts */
article hr + h2,
article hr + h3 {
  margin-top: 0.5rem;
}